#red-background {
  background-color:rgb(241, 39, 39);
}
#red {
  color: rgb(241, 39, 39);
}

#orange-background {
  background-color: rgb(245,142,46);
}
#orange {
  color: rgb(245, 142, 46);
}

#yellow-background {
  background-color: rgb(253, 213, 78);
}

#yellow {
  color: rgb(253, 213, 78);
}

#purple-background {
  background-color:rgb(180, 152, 216);
}
#purple {
  color: rgb(180, 152, 216);
}

#blue-background {
  background-color:rgb(13, 152, 186);
}

#blue {
  color: rgb(13, 152, 186);
}

table, th, td {
  border: 1px solid black;  
  border-collapse: collapse;  
  text-align: center;
}

th {
  width: 200px;
  height: 50px;
}

td {
  height: 30px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}